header{
  background-color: #666;
  padding: 10px;
  text-align: center;
  font-size: 20px;
  color:black;
}

body{
  background-color:  #3a6f85;
}

h1{
  color: black;
  font-family: Arial, Helvetica, sans-serif;
}

.menu ul{
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu ul li{
  display: inline-block;
}

.menu ul li a{
  text-decoration: none;
  color:black;
  font-family: Arial, Helvetica, sans-serif;
  display: table;
  padding: 5px 20px;
}

.menu{
  background-color: lightseagreen;
}

.menu ul li a:hover{
  background-color: beige;

}

.foto1{
  float: center;
}

.descripcion{
  width: 400px;
  height: 65px;
}


.nameUser{
  color: black;
  font-size: 25px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  position: absolute;
  justify-content: space-between;
  left: 850px;
  align-content: space-between;
  top: 420px;
}

.user{
  border: 3px solid black;
  position: absolute;
  justify-content: space-between;
  left: 1080px;
  align-content: space-between;
  top: 355px;
}

label{
  color:black;
  font-family: Arial, Helvetica, sans-serif;
}

.btn_Guardar{
  background-color: rgb(17, 81, 110);
  border: none;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  height: 50px;
  width: 200px;
}


.btn_cancelar{
  background-color: rgb(56, 30, 30);
  border: none;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  height: 50px;
  width: 200px;
}

.contenedor{
  position: absolute;
  justify-content: space-between;
  left: 320px;
  align-content: space-between;
  top: 380px;
}
