header{
  background-color: #666;
  padding: 10px;
  text-align: center;
  font-size: 20px;
  color: black;
}

body{
  background-color:  #3a6f85;
}

td, th {
    border: 1px solid black;
    text-align: left;
    padding: 10px;
}

tr {
    background-color: #666;
}

.menu ul{
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu ul li{
  display: inline-block;
}

.menu ul li a{
  text-decoration: none;
  color:black;
  font-family: Arial, Helvetica, sans-serif;
  display: table;
  padding: 5px 40px;
}

.menu{
  background-color: lightseagreen;
}


.menu ul li a:hover{
  background-color: beige;

}

label{
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  text-align: center;
}

.foto1{
  float: center;
}

.rides{
  font-size: 25px;
  position: absolute;
  justify-content: space-between;
  left: 250px;
  align-content: space-between;
  top: 450px;
}

table {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 70%;
  color: black;
  position: absolute;
  justify-content: space-between;
  left: 250px;
  align-content: space-around;
  top: 510px;
}

.nameUser{
  color: black;
  font-size: 25px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  position: absolute;
  justify-content: space-between;
  left: 850px;
  align-content: space-between;
  top: 420px;
}

.user{
  border: 3px solid black;
  position: absolute;
  justify-content: space-between;
  left: 1052px;
  align-content: space-between;
  top: 355px;
}

.btn_Agregar{
  background-color: rgb(17, 81, 110);
  border: none;
  color:black;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 50px;
  height: 50px;
  width: 50px;
  position: absolute;
  justify-content: space-between;
  left: 1145px;
  align-content: space-between;
  top:700px;
}