header{
  background-color: #666;
  padding: 30px;
  text-align: center;
  font-size: 35px;
  color: black;
}

body{
  background-color:  #3a6f85;
}

label{
  font-family: Arial, Helvetica, sans-serif;
  color: black;
}

.foto1{
  float: center;
}

input{
  font-family: Arial, Helvetica, sans-serif;
  width: 200px;
  border-radius: 5%;
}

.btn_login{
  background-color: rgb(17, 81, 110);
  border: none;
  color: rgba(7, 2, 2, 0.829);
  padding: 15px 30px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  height: 50px;
  width: 200px;
}

.crearCuenta{
    font-size: 16px;
    font-family: serif;
}

.contenedor{
  position: absolute;
  justify-content: space-between;
  right: -600px;
  left: 550px;
}
